body {
  margin: 0;
  background: #e28b8b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #fff;
}

canvas {
  border: 2px solid #fff;
  background: #000;
}
